*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Nav */
.signup{
    padding: 5px;
    width: 100px;
    margin-right: 100px;
    background-color: rgb(226, 194, 179);
    color: rgb(0, 0, 0);
    border-radius: 3px;
    border: 0;
}
.nav-item{
    color: black;
}
.Logo-img{
    width: 100px;
    height: 100px;
}
/* //////////////////////////////////////// */
/* main section */
.section1{
    margin-top: 10rem;
}
.main-img-1{
    margin-left: 20%;
}
.main-p{
    margin-top: 40px;
}
.btn2{
    margin-top: 2rem;
    width: 25%;
}
.main-numbers h3{
    font-size:2rem;
}
.main-numbers p{
    font-size:0.9rem;
    color: rgb(83, 76, 76);
}
.main-img-2{
    margin-top: 20px;
    margin-left: 2%;
}
.main-span{
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 2%;
    left: 6%;
    z-index: -1;
}
.arrow{
    background-color: black;
    color: white;
    font-size: 1rem;
    padding: 1.5rem;
    position: absolute;
    top: 73%;
    right: 15%;
}
button:hover{
    background-color: white;
    color: black;
}
.section3{
    margin-top: 100px;
}
.span{
    display: block;
width: 50px;
height: 1px;
background-color: black;
}
.section4-image-div{
    margin-left: 100px;
}

.grid p{
    color: rgb(208, 208, 208);
}
.form{
    box-shadow: 1px 1px 2px 1px rgb(212, 212, 212);position: absolute;left: 50%;top: -23%; transform: translateX(-50%);
    padding: 5px 8px;
    width: 50%;
}
.grid i{
    color: white;
}
.form button{
    padding: 10px;width: 120px;
}
.review-section{
    background-color: black; color: white;padding: 25px;
}
.review{
    position: absolute; top: 15%; left: 12.5%;
}
.section5-content{
    position: relative; overflow: hidden; height: 460px;;
}
.form button{
    padding: 5px;
    width: 100px;
   
    background-color: rgb(226, 194, 179);
    color: rgb(0, 0, 0);
    border-radius: 3px;
    border: 0;
}
@media (max-width:768px) {
    .section1{
        margin-top: 5rem;
    }
    .main-img-1,.main-img-2,.section4-img{
       margin: unset;
       height: 150px;
       width: 270px;
       
    }
    .main-right{
text-align: center;
    }
    .btn2{
        margin-top: 2rem;
        width: 100%;
        margin-bottom: 2rem;
    }
    .main-numbers{
        text-align: center;
        margin-bottom: 5rem;
    }
    .main-numbers h3{
font-size: 1rem;
    }
    .main-numbers p{
        font-size:0.7rem;
    }
    .main-span{
        width: 80px;
        height: 80px;
        top: -7%;
        left: 9%;

    }
    .arrow{
        font-size: 0.7rem;
        padding: 1rem;
        position: absolute;
        top: 68%;
        right: 9%;
    }
    .section3-content{
        text-align: center;
        row-gap: 20px;
        margin-top: 20px;
    }
    .section4-content,.section5-content{
        flex-direction: column-reverse;
    }
.section4-img{
    margin-top: 20px;
}
.section4-image-div{
    margin: unset;
    text-align: center;
}
.section5-content{
    padding: 0;
 
}
.review-section{
    padding: unset;
    margin-bottom: 5px;
}
.review{
    width: 170px;
    font-size: 0.6rem;
    top: 28px;
    
    
}
.section5-img{
    height: 380px;
    width: 320px;
}
.section5-h{
    font-size: 1.2rem;
    margin-bottom: 40px;
}
.section6-p{
    font-size: 0.7rem;
}
.grid{
    margin-top: 50px;
    text-align: center;
}
.form{
    width: 90%;
    margin-bottom: 20px;
    top: -7%;
}
.grid h5{
    color: white;
    margin-top: 20px;
}
.grid i{
    color: white;
}
.form button{
    padding: 4px;width: 70px;
    font-size: 0.8rem;
}
}